* {
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  flex-direction: row;
}
.header {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  border: 1px red solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  display: flex;
  justify-content: flex;
  align-items: center;
  list-style-type: none;
}

.nav-sign-in-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px pink solid;
  list-style-type: none;
}

.sign-in {
  margin-right: 30px;
  margin-top: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #1b0a42;
}

.sign-in-btn {
  margin-top: 30px;
  margin-right: 68px;
  width: 120px;
  height: 60px;
  background-color: #4f56f1;
  border-radius: 6px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 160%;
  /* or 48px */
  letter-spacing: -0.02em;
  color: #0a1b32;
  margin-top: 37px;
  margin-left: 80px;
}

.logo-dot {
  color: #4f56f1;
}

.title {
  margin-top: 280px;
  margin-left: 200px;
  max-width: 495px;
  margin-right: 158px;
  width: 100%;
  font-family: 'Ramaraja';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  letter-spacing: 0.02em;
  color: #1b0a42;
}

.info-paragraph {
  margin-left: 200px;
  margin-top: 10px;
  max-width: 538px;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.02em;
  color: #9a9a9a;
}

.main-btn {
  width: 152px;
  height: 64px;
  margin-left: 200px;
  margin-bottom: 268px;
  margin-top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #4f56f1;
  border-radius: 6px;
  border: none;
}

img {
  max-width: 653px;
  width: 100%;
  margin-top: 186px;
  margin-right: 94px;
}

section {
  display: inline-block;
}
